@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:'Montserrat',sans-serif;
  src: url("/clashapp/data/fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

[x-cloak] { display: none; }

body,
button,
input,
select,
textarea {
 font-family:'Montserrat',sans-serif;
}

body, html {
  min-height: 100%;
}

.full-footer {
  position: relative;
  bottom: -8px;
  width: 100%;
}

.wrapper {
  min-height: calc(100vh - 90px);
}

input, input:focus, button {
  outline: none;
  border: 0;
  font-size: 14;
}

@keyframes rotate {
0% {
    transform: rotate(0); }
100% {
    transform: rotate(360deg); }
}

#stattable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
}

#stattable td, #stattable th {
    padding: 9px;
    vertical-align: top;
}

#stattable tr:nth-child(even){background-color: #2a2a2a;}

#stattable th {
    background-color: #C6CCD8;
    color: #000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@font-face {
  font-family: "Beaufort";
  src: url(https://clash.dasnerdwork.net/clashapp/data/misc/fonts/Beaufort-W01-Regular-1.ttf) format("truetype");
}
.beaufort {
  font-family: "Beaufort", Verdana, serif;
}

.schatten {
  border: 1px rgb(124, 124, 124) solid;
}

.low-threat {
  color: #d3a609;
}

.medium-threath {
  color: #C35D0F;
}

.high-threat {
  color: #b31414;
}

.smooth-transition {
  transition: all 300ms;
}

.active:after {
  content: "\2B9D"; /* Unicode character for "minus" sign (-) */
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background-color:#0e0f18;
  color:#ddd;
  margin: 0px;
}

.vision-wards-count-icon {
  position: relative;
  bottom: 18px;
  right: -20px;
  font-size: 16px;
  background-color: #000;
  width: 12px;
  height: 18px;
}

.collapser {
  position: relative;
}

.collapser {
  cursor: pointer;
  font-weight: bold;
  z-index: 3;
  position: relative;
  top: -94px;
}

@media (min-width: 1921px){
  .collapser {
    top: -80px;
  }
}

[draggable="true"] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

ul.moveable {
  list-style: none;
  margin: 0px;
}

.champ-select-champion .caption {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.removal-overlay {
  height: auto;
  z-index: 2;
  margin-top: -48px;
  margin-bottom: -48px;
  opacity: 0;
}

.selected-ban-caption {
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.selected-ban-champion {
  opacity: 1;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}

.suggested-ban-caption {
  /* margin-top: 2px; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.suggested-ban-icon {
  cursor: help;
}

.hoverer {
  display: inline-grid;
  position: relative;
  top: 10px;
}


.ban-overlay, .removal-overlay {
  transition: all .15s ease-out;
}

.hoverer:hover, .ban-hoverer:hover {
  cursor: pointer;
  overflow: hidden;
}

.hoverer:hover .removal-overlay {
  opacity: 1;
}

.hoverer:hover .selected-ban-icon {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  cursor: pointer;
  transition: all .15s ease-out;
}

.clash-footer {
  font-family:'Montserrat',sans-serif;
  font-size: .9rem;
  color: #333344;
  text-align: center;
}

.clash-footer-link {
  color: #565670;
}

.clash-footer-link:hover {
  color: #8484b3;
}

.clickable-logo {
  width: 170px;
  margin-right: -10px;
}

.header-nav-menu {
  display: flex;
  /* margin-bottom: 40px; */

}

.nav-menu-link {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #000;
  color: #fff;
}

@media screen and (max-width: 600px){

}

.settings-button {
  transform: translateY(34%);
  margin-right: 20px;
  margin-left: 10px;
  /* filter: brightness(0.5); */
}

.profile-button {
  transform: translate(-10%, 25%);
}

.clash-form a {
  color: #bbb;
}
 /* LINK COLORING */
.clash-form a:hover {
  color: #fff;
  text-decoration: underline;
}

.clash-form a:active{
  color: #ddd;
}

header {
  background-color: #141624;
}

.lds-ring {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  visibility: hidden;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* CLASH FORMS */


/* used */
/* .outer-form {
  position: fixed;
  top: 50%;
  transform: translate(50%, -50%);
  right: 50%;
  justify-content: center;
  border-radius: 6px;
} */


/* used */
.clash-form-title {
  margin-bottom: 10px;
  font-size: 20px;
}


/* used */
.clash-form {
  padding: 42px 48px;
  height: fit-content;
  width: fit-content;
  background-color: #141624;
  box-sizing: border-box;
  max-width: 450px;
  text-align: center;
}

.login-form {
  margin-bottom: 170px;
}

.clash-form input:not([type="checkbox"]), .clash-form select {
  margin-top: 4px;
  margin-bottom: 1em;
  height: 32px;
  font-size: 16px;
  width: 250px;
  text-align: center;
  background-color: #2a2d40;
  color: #fff;
}

.clash-form input[type="text"], .clash-form input[type="password"], .clash-form input[type="email"], textarea {
  width: 350px;
  text-align: left;
  background-color: #0e0f18;
  color: #fff;
}


.register-form input[type="text"], .register-form input[type="password"], .register-form input[type="email"], textarea, .register-form select, .register-form button {
  width: 300px;
}

.clash-form input::placeholder {
  color: #353950;
}

/* .clash-form label {
  text-align: left;
} */

.clash-form select, .clash-form select:active, .clash-form select:focus {
  border: 0;
  outline: 0px;
  cursor: pointer;
  filter: brightness(100%);
}

.clash-form select:hover {
  filter: brightness(75%);
}

.clash-form input[type="checkbox"] {
  vertical-align: text-top;
  margin-bottom: 1em;
  accent-color: #27358b;
}

.clash-form input[type="submit"] {
  background-color: #27358b;
  color: #fff;
  cursor: pointer;
}

.clash-form .login-checkbox {
  cursor: default;
}

.clash-form input[type="submit"]:hover, .clash-form select:hover, .clash-form button:hover, .clash-form #setting-logout:hover {
  filter: brightness(75%);
}

.clash-form input[type="submit"]:active, .clash-form select:active, .clash-form button:active, .clash-form #setting-logout:active {
  filter: brightness(50%);
}

.clash-form button[type="submit"] {
  background-color: #27358b;
  color: #fff;
}

.clash-form .account-link {
  text-align: center;
}

.clash-form #disconnect-account-button {
  margin-top: 1em;
}

.clash-form .descriptive-text {
  font-size: 14px;
  text-align: justify;
  line-height: 1.5em;
  display: block;
}

.clash-form .account-desc {
  margin-bottom: 1em;
}

/* .clash-form small {
  color: #353950;
} */

#reset-password-popup {
  /* visibility: hidden; */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #5667cf;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  float: right;
  width: 100px;
  display: inline;
  font-weight: bold;
  height: 14px;
  margin-right: 8px;
}

#password-label {
  display: inline;
  float: left;
}

#connect-account-form {
  margin-top: 10px;
  margin-bottom: 0;
}

#disconnect-account-cancel, #connect-account-cancel, #account-delete-cancel, #twofa-cancel, #remove-twofa-cancel, #verifier-cancel {
  float: left;
  margin-left: unset;
}

.clash-form .lower-dcform {
  margin-top: 18px;
}

#account-delete-button {
  background-color: #560909;
  color: #fff;
}

#confirm-password {
  margin-top: 0;
}

#weird-fix {
  height: 50px;
}

.clash-form label:not(.stay-logged-in) {
  font-size: 12px;
  font-weight: bold;
  display: block;
}

/* .error {
  background-color: rgba(255, 0, 0, 25%);
  margin-bottom: 1em;
  line-height: 3em;
  text-align: center;
} */

/* .account_status {
  background-color: rgba(0, 255, 0, 25%);
  margin-bottom: 1em;
  line-height: 3em;
  text-align: center;
} */

/* TODO: add css tailwind changes to javascript generated errors or successes */ 

.flow-root {
  display: flow-root;
  width: 350px;
  height: 50px;
  margin-top: -10px;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
}

div#champSelect::-webkit-scrollbar-thumb {
  background-color: #141624;
  border-radius: 20px;
  border: 6px solid #0e0f18;
  background-clip: content-box;
  height: 48px;
}

div#champSelect::-webkit-scrollbar {
  width: 20px;
}

div#champSelect::-webkit-scrollbar-track {
  background-color: #0e0f18;
  border-radius: 25px;
  margin-bottom: 0.5rem;
}