@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family:'Montserrat',sans-serif;
    src: url("/clashapp/data/fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
  }
}

[x-cloak] { display: none; }

body,
button,
input,
select,
textarea {
 font-family:'Montserrat',sans-serif;
}

body, html {
  min-height: 100%;
}

.wrapper {
  min-height: calc(100vh - 90px);
}

input, input:focus, button {
  outline: none;
  border: 0;
  font-size: 14;
}

input[type="text"][name="champion_input"],
input[type="text"][name="champion_input"]:focus {
  &:-webkit-autofill {
    color: #000 !important;
    -webkit-text-fill-color: #000 !important;
  }
}

@keyframes rotate {
0% {
    transform: rotate(0); }
100% {
    transform: rotate(360deg); }
}

#stattable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
}

#stattable td, #stattable th {
    padding: 9px;
    vertical-align: top;
}

#stattable tr:nth-child(even){background-color: #2a2a2a;}

#stattable th {
    background-color: #C6CCD8;
    color: #000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.smooth-transition {
  transition: all 300ms;
}

.active:after {
  content: "\2B9D"; /* Unicode character for "minus" sign (-) */
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background-color:#0e0f18;
  color:#ddd;
  margin: 0px;
}

.vision-wards-count-icon {
  position: relative;
  bottom: 18px;
  right: -20px;
  font-size: 16px;
  background-color: #000;
  width: 12px;
  height: 18px;
}

.collapser {
  position: relative;
}

.collapser {
  cursor: pointer;
  font-weight: bold;
  z-index: 3;
  position: relative;
  top: -94px;
}

@media (min-width: 1921px){
  .collapser {
    top: -80px;
  }
}

[draggable="true"] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

ul.moveable {
  list-style: none;
  margin: 0px;
}

.champ-select-champion .caption {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.removal-overlay {
  height: auto;
  z-index: 2;
  margin-top: -48px;
  margin-bottom: -48px;
  opacity: 0;
}

.selected-ban-caption {
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.suggested-ban-caption {
  /* margin-top: 2px; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hoverer {
  display: inline-grid;
  position: relative;
  top: 10px;
}


.ban-overlay, .removal-overlay {
  transition: all .15s ease-out;
}

.hoverer:hover, .ban-hoverer:hover {
  cursor: pointer;
  overflow: hidden;
}

.hoverer:hover .removal-overlay {
  opacity: 1;
}

.hoverer:hover .selected-ban-icon {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  cursor: pointer;
  transition: all .15s ease-out;
}

#reset-password-popup {
  /* visibility: hidden; */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #5667cf;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  float: right;
  width: 100px;
  display: inline;
  font-weight: bold;
  height: 14px;
  margin-right: 8px;
}

#password-label {
  display: inline;
  float: left;
}

/* TODO: add css tailwind changes to javascript generated errors or successes */ 

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  font-size: 1rem;
}

div#champSelect::-webkit-scrollbar-thumb {
  background-color: #565656;
  border-radius: 20px;
  border: 6px solid #0e0f18;
  background-clip: content-box;
  height: 48px;
}

div#champSelect::-webkit-scrollbar { 
  width: 20px;
}

div#champSelect::-webkit-scrollbar-track {
  background-color: #0e0f18;
  border-radius: 25px;
  margin-bottom: 0.5rem;
}

.masterycontentscroll::-webkit-scrollbar-thumb {
  background-color: #565656;
  border-radius: 20px;
  border: 6px solid #0e0f18;
  background-clip: content-box;
  /* height: 48px; */
}

.masterycontentscroll::-webkit-scrollbar { 
  height: 20px;
}

.masterycontentscroll::-webkit-scrollbar-track {
  background-color: #0e0f18;
  border-radius: 25px;
  margin-bottom: 0.5rem;
}

@keyframes slideAndFadeIn {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}