/vendor
/node_modules
/data
/logs
/mongodb
/mongo
/plugins
/iconcaptcha
/css/output.css
/test/results
/test/cache
package-lock.json
.git
.vscode
.phpunit.cache
ads.txt
robots.txt
*.min.js
*.pid
/test/results.xml
/db/__pycache__/
*.crt
.env